<div class="bg-video position-absolute">
  <video
    src="../../../assets/video/contact.mp4"
    autoplay
    [muted]="'muted'"
    loop
  ></video>
  <video
    src="../../../assets/video/mobile/contact.mp4"
    autoplay
    [muted]="'muted'"
    loop
  ></video>
</div>
<div class="container position-relative" style="padding-top: 5rem">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <div class="card-contact d-flex flex-column mx-auto">
          <h2 class="text-light text-center">Contact</h2>
          <a class="btn btn-secondary btn-block" href="mailto:">Contact par email</a><!--addresse mail-->
      </div>
    </div>
  </div>
</div>
