.card-contact {
  height: auto;
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(20, 20, 20, 0.85);
  border-radius: 1.5rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .card-contact {
    width: 80%;
    font-size: 2rem;
  }
}
