<div class="bg-video position-absolute">
  <video
    src="../../../assets/video/about.mp4"
    autoplay
    [muted]="'muted'"
    loop
  ></video>
  <video
    src="../../../assets/video/mobile/about.mp4"
    autoplay
    [muted]="'muted'"
    loop
  ></video>
</div>
<div class="container position-relative container-top">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <div class="card-contact d-flex flex-column mx-auto">
        <p>Dimension V est une série de science-fiction et de machinima sur les jeux de la Licence « Halo ». </p>
        <p>L'histoire de cette série n'est pas complètement écrite et donc les sorties des épisodes peut être sporadique. J'ai écrit les éléments clés de cette histoire mais celle-ci est comme un puzzle qui se complète lentement les épisodes prennent donc du temps à être écrit, car je ne voudrais pas créer de paradoxe et que la série n'ait plus aucun sens.</p>
        <p>Cette série est l'aboutissement de plusieurs années de réflexion et collaboration avec ma compagne, plusieurs personnages s'en retrouvent calquer sur des connaissances ayant participé au tournage des scènes et au soutien matériel. </p>
        <p>Le site se trouve encore en travaux et peut changer à tout moment.
        </p>
        <p>Si vous souhaitez nous aider à l'aboutissement du projet, n'hésitez pas à laisser un message dans l'onglet CONTACT ou bien de cliquer sur le lien pour nous payer un panini.</p>
      </div>
    </div>
  </div>
</div>
