<div
  class="d-flex justify-content-center flex-lg-row flex-column overflow-hidden"
>
  <a href="/series-dimension">
    <h1
      class="
        d-flex
        position-absolute
        justify-content-center
        align-items-center
        text-white
      "
    >
      Dimension V
    </h1>
    <video
      class="position-relative"
      src="../../../assets/video/pisto.mp4"
      autoplay
      [muted]="'muted'"
      loop
    ></video>
  </a>
  <a href="/series-lastorder">
    <h1
      class="
        d-flex
        position-absolute
        justify-content-center
        align-items-center
        text-white
      "
    >
      Last Order
    </h1>
    <video
      class="position-relative"
      src="../../../assets/video/cube.mp4"
      autoplay
      [muted]="'muted'"
      loop
    ></video>
  </a>
</div>
