<div class="d-flex justify-content-center flex-lg-row flex-column">
  <a href="/series-dimension">
    <h1>Dimension V</h1>
    <div style="position: relative">
      <video
        style="overflow: hidden"
        src="../../../assets/video/pisto.mp4"
        autoplay
        [muted]="'muted'"
        loop
      ></video>
    </div>
  </a>
  <a href="/series-lastorder">
    <h1 class="overflow-hidden">Last Order</h1>
    <div style="position: relative">
      <video
        style="overflow: hidden"
        src="../../../assets/video/cube.mp4"
        autoplay
        [muted]="'muted'"
        loop
      ></video>
    </div>
  </a>
</div>
