<div class="d-flex justify-content-center">
  <a href="/series-dimension">
    <div class="overflow-hidden">
      <h1>Dimension V</h1>
      <video
        src="../../../assets/video/pisto.mp4"
        autoplay
        [muted]="'muted'"
        loop
      ></video>
    </div>
  </a>
  <a href="/series-lastorder">
    <div class="">
      <h1>Last Order</h1>
      <video
        src="../../../assets/video/cube.mp4"
        autoplay
        [muted]="'muted'"
        loop
      ></video>
    </div>
  </a>
</div>
