<div class="d-flex justify-content-center">
  <a href="/character-dimension">
    <div class="overflow-hidden">
      <h1 class="">Dimension V</h1>
      <video
        src="../../../assets/video/character/DV-character.mp4"
        autoplay
        [muted]="'muted'"
        loop
      ></video>
    </div>
  </a>
  <a href="/character-lastorder">
    <div class="">
      <h1>Last Order</h1>
      <video
        src="../../../assets/video/character/LO-character.mp4"
        autoplay
        [muted]="'muted'"
        loop
      ></video>
    </div>
  </a>
</div>
