<div class="dropdown fixed-top position-fixed">
  <button
    (click)="toggle()"
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="bi bi-person-lines-fill"></i>
  </button>
  <div
    *ngIf="show"
    class="dropdown-menu d-flex flex-column"
    aria-labelledby="dropdownMenuButton"
  >
    <a
      class="dropdown-item"
      *ngFor="let character of characterList"
      routerLink="./"
      fragment="{{ character.id }}"
      >{{ character.name }}</a
    >
  </div>
</div>
<div
  class="
    d-flex
    justify-content-end
    mr-5
    align-items-center
    flex-lg-row flex-column
    bg-dark
  "
  *ngFor="let character of characterList"
>
  <div class="character position-absolute text-left text-white">
    <h1>{{ character.name }}</h1>
    <h6>Title : {{ character.title }}</h6>
    <p class="text-justify">
      <strong>Description : </strong><br />
      {{ character.description }}
    </p>
  </div>
  <video
    id="{{ character.id }}"
    class="screen position-relative"
    src="{{ character.screen }}"
    autoplay
    [muted]="'muted'"
    loop
  ></video>
  <video
    id="{{ character.id }}"
    class="mobile position-relative"
    src="{{ character.mobile }}"
    autoplay
    [muted]="'muted'"
    loop
  ></video>
</div>
