/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: black;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 1rem;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.bg-video {
  height: 100vh;
  background-color: black;
  overflow: hidden;

  & video {
    min-height: 100%;
    width: 100%;
    object-fit: cover;

    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      display: block;
    }
  }
}

.bg-video-nav {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media (min-width: 992px) {
  .bg-video {
    & video {
      &:nth-child(1) {
        display: block;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }
}

a {
  text-decoration: none;
}
