<div class="container-fluid position-absolute">
  <div
    class="
      d-flex
      flex-lg-row flex-column
      justify-content-center
      align-items-center
      flex-wrap
    "
  >
    <video class="video-trailer" controls>
      <source
        src="../../../assets/video/trailer/Last Order_prequel_of_Dimension_V___Trailer 1.mp4"
        type="video/mp4"
      />
    </video>
    <video class="video-trailer" controls>
      <source
        src="../../../assets/video/trailer/Last Order_prequel_of_Dimension_V___Trailer 2.mp4"
        type="video/mp4"
      />
    </video>
    <video class="video-trailer" controls>
      <source
        src="../../../assets/video/trailer/Last Order_prequel_of_Dimension_V___Trailer 3.mp4"
        type="video/mp4"
      />
    </video>
  </div>
</div>
<div class="bg-video">
  <video
    src="../../../assets/video/trailer.mp4"
    autoplay
    [muted]="'muted'"
    loop
  ></video>
  <video
    src="../../../assets/video/mobile/trailer.mp4"
    autoplay
    [muted]="'muted'"
    loop
  ></video>
</div>
